:root{
    --backgorund-color-1: #F2F2F2;
    --color-1: #141414;
    --color-2: #000000;
    --color-3: #8B8B8B;
    --color-4: #A4A4A4;
    --font-color-1: #E7E7E7;
    --font-color-2: #000000;
    --font-color-3: #FFFFFF;
    --font-color-4: #141414;
    --font-color-5: #707070;
}

@font-face {
    font-family: "RobotoCondensed-Regular";
    src: url(../storage/font/RobotoCondensed-Regular.ttf);
}
@font-face {
    font-family: "RobotoCondensed-Bold";
    src: url(../storage/font/RobotoCondensed-Bold.ttf);
}